<div class="general">
    <div class="cont1">
        <div class="comp1">
            <h4>Monto total</h4>
            <h4>Nro de facturas</h4>
            <h4>Nro de facturas a pagar</h4>
        </div>
        <div class="comp2">
            <h4>Servicios</h4>
            <div>
                <h4>Tigo</h4>
            </div>
    
        </div>
    </div>
    <h2>Resumen</h2>
    <div class="comp3">
        <h4>Facturas vencidas</h4>
    </div>
    <div class="comp3">
        <h4>Facturas a punto de vencer</h4>
    </div>
    <div class="comp3">
        <h4>Facturas recientes</h4>
    </div>


</div>