.servicios {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 80vh;
    justify-content: space-around;
    align-items: center;
}
.servicio {
    margin: 30px;
    width: 200px;
    height: max-content;
    transition: all 0.3s ease;
}
.servicio:hover {
    transform: scale(1.1);
}
.logo {
    width: 100%;
}
.add, .form {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.input {
    flex-grow: 1;
}
button {
    margin: 5px;
}