<div class="servicios">
    <button>Agregar nuevo servicio</button>
    <div>
        <div>
            <div class="servicio">
                <div class="component1">
                    circulo
                </div>
                <div class="component2">
                    <div style="margin-top: 5px;">Tigo mama</div>
                    <div style="margin-top: 5px;">Tigo hogar - 29384</div>
                </div>
                <div class="component3">
                    <span class="material-symbols-outlined edit">edit</span>
                    <span class="material-symbols-outlined delete">delete</span>
                </div>

            </div>
        </div>
    </div>
</div>
