button{
    background-color: var(--clr-secondary-900);
    padding: 10px;
    border-radius: 40px;
    margin: 20px;
}
.servicios{
    text-align: center;
}
.servicio{
    height: 80px;
    background-color: var(--clr-secondary);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 40px;
    display: flex;
}
.component1{
    width: 20%;

}
.component2{
    width: 60%;
    text-align: left;

}
.component3{
    width: 20%;

}
