<div class="servicios">
    <div class="form">
        <div class="add">

            <mat-form-field class="input">
                <mat-label>Nombre servicio</mat-label>
                <input matInput #name maxlength="256" placeholder="Ej. CRE casa ..." >
            </mat-form-field>
            
            <mat-form-field class="input">
                <mat-label>Código cliente</mat-label>
                <input matInput #code maxlength="256" placeholder="Ej. 189287">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Empresa</mat-label>
                <mat-select #empresa>
                    <mat-option *ngFor="let empresa of empresas" [value]="empresa.service">{{empresa.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button mat-flat-button color="primary" (click)="create(name.value, code.value, empresa.value)"><mat-icon>add</mat-icon> Añadir</button>
        <!-- <button mat-flat-button color="primary"><mat-icon>save</mat-icon> Actualizar</button> -->
    </div>

    <mat-card *ngFor="let servicio of servicios" class="servicio">
        
        <img src="/assets/img/{{servicio.service}}.png" alt="" class="logo">
        
        <mat-card-header>
        <mat-card-title>{{servicio.name}}</mat-card-title>
        <mat-card-subtitle>{{servicio.clientNumber}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
        <!-- <button mat-icon-button (click)="select(servicio)"><mat-icon>edit</mat-icon></button> -->
        <button mat-icon-button color="warn" (click)="delete(servicio)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>