<div class="servicios">
    <button mat-flat-button color="primary">Agregar nuevo servicio</button>
    <div>
        <div>
            <div class="servicio">
                <div class="component1">
                    circulo
                </div>
                <div class="component2">
                    <div style="margin-top: 5px;">Tigo mama</div>
                    <div style="margin-top: 5px;">Tigo hogar - 29384</div>
                </div>
                <div class="component3">
                    <span class="material-symbols-outlined edit">edit</span>
                    <span class="material-symbols-outlined delete">delete</span>
                </div>

            </div>
        </div>
    </div>
</div>

<mat-card>
    <div>
        <img src="https://www.tigo.com.gt/assets/favicon/apple-touch-icon.png" alt="">
    </div>
    <mat-card-header>
      <mat-card-title>Tigo mama</mat-card-title>
      <mat-card-subtitle>Tigo hogar - 29384</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-icon-button><mat-icon>edit</mat-icon></button>
      <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
</mat-card>