<div class="general">
    <h1>Fracturando</h1>
    <div class="component">
        <p>Bienvenido a nuestra aplicación, donde la innovación y la eficiencia se encuentran para simplificar tu vida financiera. Nos enorgullece presentar esta plataforma desarrollada por dos mentes creativas y apasionadas por la ingeniería en sistemas de la Universidad Privada de Bolivia: Héctor Ichaso, de 22 años, y Richard Ribero, de 21 años.</p>
        <p>Diseñamos esta herramienta con el propósito de facilitar el control y la gestión de tus cuentas de facturación en un solo lugar. Nuestra aplicación te ofrece la comodidad de acceder a la información de diversas cuentas en un ambiente organizado, permitiéndote tomar decisiones informadas sobre tus finanzas.</p>
        <p>Con un enfoque en la simplicidad y la eficacia, queremos brindarte una experiencia sin complicaciones mientras te mantenemos al tanto de tus transacciones y gastos. Únete a nosotros en este viaje hacia una gestión financiera más inteligente y sin estrés.</p>
    </div>

</div>