.general {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--clr-secondary);
    border-radius: 40px;
}
.component{
    padding: 60px;
}
p{
    font-size: 20px;
    line-height: 1.5;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}